<body class="main-layout"></body>
<header id="menu">
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="/bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}"><img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a> </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a class="scroll" href="{{ site.BaseURL | relLangURL }}"> {{ site.Params.Home }} </a></li>
              {{ range .Site.Menus.main }}
              <li class="nav-item active">
              <li><a class="scroll" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
              {{ end }}
              {{/*  <li><a class="scroll" href="/service">Service</a></li>
              <li><a class="scroll" href="/features">Features</a></li>
              <li><a class="scroll" href="/portfolio">Portfolio</a></li>
              <li><a class="scroll" href="/pricing">Pricing</a></li>
              <li><a class="scroll" href="/team">Team</a></li>
              <li><a class="scroll" href="/blog">Blog</a></li>
              <li><a class="scroll" href="/contactus">Contact</a></li>  */}}
            </ul>
            {{/*  <div class="col-md-2 col-sm-2 col-xs-6">
            <div><a class="btn-down" href="#">Get A Quote</a></div>
          </div>  */}}
          </div>
        </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
</header>


